@model IEnumerable<SchoolManagementApp.MVC.Data.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">+ Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @* <a  class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">ODelete</a> *@
                <button id="dlt" class="btn btn-danger btn-sm" data-id="@item.Id" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="coursedlt">
        <input type="hidden" id="courseid" name="id"/>
</form>

@section Scripts{
    <script>
        $('.table').ready(function () {
            $('.table').DataTable();
        });

        $(function(){
            $('#dlt').click(function(e){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                        )
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#courseid').val(id);
                        $('#coursedlt').submit();
                    }
                })
            })
        })
    </script>
}